accelerate==0.22.0
aiohttp==3.8.5
aiosignal==1.3.1
async-timeout==4.0.3
attrs==23.1.0
audioread==3.0.0
brotlipy==0.7.0
cchardet==2.1.7
chardet==5.2.0
click==8.1.7
datasets==2.14.5
decorator==5.1.1
dill==0.3.7
evaluate==0.4.0
filelock==3.12.3
frozenlist==1.4.0
fsspec==2023.6.0
huggingface-hub==0.17.0
jiwer==3.0.3
joblib==1.3.2
lazy_loader==0.3
librosa==0.10.1
llvmlite==0.40.1
mkl-fft==1.3.6
mkl-service==2.4.0
msgpack==1.0.5
multidict==6.0.4
multiprocess==0.70.15
numba==0.57.1
numpy==1.24.3
packaging==23.1
pandas==2.1.0
Pillow==9.4.0
platformdirs==3.10.0
pooch==1.7.0
psutil==5.9.5
pyarrow==13.0.0
python-dateutil==2.8.2
pytz==2023.3.post1
PyYAML==6.0.1
pyctcdecode==0.5.0
pypi-kenlm==0.1.20220713
rapidfuzz==3.2.0
regex==2023.8.8
responses==0.18.0
safetensors==0.3.3
scikit-learn==1.3.0
scipy==1.11.2
six==1.16.0
soundfile==0.12.1
soxr==0.3.6
threadpoolctl==3.2.0
tokenizers==0.13.3
torch==2.0.1
torchaudio==2.0.2
torchvision==0.15.2
tqdm==4.66.1
transformers @ git+https://github.com/huggingface/transformers@9cebae64ad33085eaa15ddf95ce6c900131881d5
tzdata==2023.3
xxhash==3.3.0
yarl==1.9.2
